.item {
  margin-top: 2px;
  margin-bottom: 2px;
  border-bottom: #a2acb3;
  list-style-type: circle;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 2px;
  font-weight: 500;
}

.link:hover {
  color: red;
}
